/* Fonts */
@font-face {
  font-family: CarrosserieLight;
  src: url(../fonts/Carrosserie-Light.otf);
}
@font-face {
  font-family: CarrosserieBold;
  src: url(../fonts/Carrosserie-Bold.otf);
}

/* CSS */
body {
  color: #000;
}
h1, .h1, h2, .h2, h4, .h4 {
  font-family: CarrosserieBold, Arial, sans-serif;
}
h2, .h2 {
  font-size:24px;
}
h3, .h3 {
  font-style: italic;
  font-family: "Avenir", Arial, sans-serif;
  font-size: 20px;
  margin-top:10px;
  margin-bottom: 25px;
}
h4, .h4 {
  margin-top:20px;
}
p, blockquote, ul, ol {
  font-family: "Avenir", Arial, sans-serif;
}
blockquote {
  font-style: italic;
  font-size: 14px;
  border-color: #339999;
}
.bold {
  font-weight: bold;
}
.logo {
  margin:25px 0;
  text-align: center;
}
.col-md-12 {
  margin-bottom:100px;
}
.profile-pic {
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
  padding-left:10px;
  border-left: 5px solid #339999;
  width: 200px;
}
.blog-article {
  min-height: 175px;
}
.blog-title, .blog-title:hover {
  color:#000;
  text-decoration: none;
}
.blog-pic {
  margin-bottom: 25px;
  width: 100%;
}
.blog-thumb {
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-left: 5px solid #339999;
  width: 250px;
  height: 150px;
}
#disqus_thread {
  margin-top:50px;
}
.navbar {
  border-radius: 0px;
  margin-bottom: 25px;
}
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-collapse {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.navbar-default .navbar-nav>li>a {
  color: #000;
  font-family: CarrosserieLight, Arial, sans-serif;
  font-size: 20px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-toggle {
  border:none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #000;
  background-color: transparent;
  font-family: CarrosserieBold, Arial,sans-serif;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #000;
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #eeeeee;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .container>.navbar-header {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .navbar-default .navbar-collapse {
    border-top: none;
    border-bottom: 1px solid #000;
  }
}
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .navbar-nav {
    margin-left: 80px;
  }
}