    <!-- Logo -->
    <div class="logo">
      <img src="{{ site.baseurl }}/img/logo.png" width="150" height="150" />
    </div>

    <!-- Navigation -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% assign url = page.url | remove:'index.html' %}
            {% for link in site.navigation %}
            <li{% if url == link.url %} class="active">{% else %}>{% endif %}<a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>  
            {% endfor %}
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>