{% include header.html %}
{% include navigation.html %}

    <!-- Content -->
    <div class="container">
    {% if page.title == 'Contact Jessie' %}
      <div class="col-md-12">
        <h1>{{ page.title }}</h1>
        {{ content }}
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.607047478441!2d-122.40460300000001!3d37.752362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e4c7c81fa3d%3A0x555801ec9c29a448!2s1348+San+Bruno+Ave%2C+San+Francisco%2C+CA+94110!5e0!3m2!1sen!2sus!4v1412109803269" width="100%" height="400" frameborder="0" style="border:0"></iframe>
      </div>
    {% elsif page.title == 'Blog' %}
      <div class="col-md-12">
        <h1>{{ page.title }}</h1>
        {{ content }}
        {% for post in site.posts limit: 25 %}
        <div class="blog-article">
          <a href="{{ post.url }}"><img class="blog-thumb" src="{{ post.image }}" /></a>
          <h4>{{ post.title }}</h4>
          {{ post.content | truncatewords: 75 }} [<a href="{{ post.url }}">read more</a>]
        </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="col-md-12">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
    {% endif %}
    </div><!-- /.container -->

{% include footer.html %}