{% include header.html %}
{% include navigation.html %}

    <!-- Content -->
    <div class="container">
      <div class="col-md-12">
        <h1>{{ page.title }}</h1>
        {{ content }}
        {% if page.title == 'The In Between Space' %}
          {% for post in site.posts limit: 25 %}
          <div class="blog-article">
            <a href="{{ post.url }}"><img class="blog-thumb" src="{{ post.image }}" /></a>
            <h4>{{ post.title }}</h4>
            <p>{{ post.content | truncatewords: 75 | strip_html }} [<a href="{{ post.url }}">read more</a>]</p>
          </div>
          {% endfor %}
        {% endif %}
      </div>
    </div><!-- /.container -->

{% include footer.html %}
